* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  flex-direction: row;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.nav {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
  margin-right: 80px;
  margin-left: 30px;
  align-items: center;
}

.nav__logo {
  position: relative;
  height: 39px;
  width: 105px;
}

.nav__links {
  margin-top: 30px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}

.header__content {
  max-width: 709px;
  margin-left: 80px;
  margin-top: 140px;
}

.header__title h1 {
  margin: 0;
  padding: 0;
}

.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  line-height: 41px;
  padding-bottom: 28px;
}
.header__span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  text-align: right;
  max-width: 1600px;
  width: 646px;
  height: 568px;
  margin-right: 5px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  margin-bottom: 40px;
}

.header__paragraph {
  margin: 0 80px 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.recipes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
  background-size: cover;
  opacity: 1;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin-top: 100px;
  margin-left: 80px;
  max-width: 500px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 24px;
  margin-left: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 215px;
}

.recipes__video-item {
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  align-items: flex-end;
  margin-top: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 278px;
  border-style: none;
}
