.footer {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2850;
}

.footer__columns {
  display: flex;
  color: #ffffff;
  align-items: flex-start;
  padding-bottom: 108px;
  padding: 60px 80px 108px 80px;
}
.footer__column {
  flex: auto;
}

.footer__column_content_social {
  flex: initial;
  margin-left: 80px;
}

.footer__logo {
  display: flex;
  width: 105px;
  height: 39px;
}

.footer__column__social-heading {
  margin: 0 0 20px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-bottom: 60px;
  padding-left: 80px;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__column__social-heading:hover {
  color: #c1c1c1;
}
