.form {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__label {
  border-radius: 2px;
  padding-top: 32px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form__item-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label-espaco {
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  background-color: #2f80ed;
  height: 60px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 100%;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}
