.reservation {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  background-size: cover;
  padding-top: 100px;
}

.reservation__title {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.reservation__item {
  height: 60px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 32px;
  border: 1p solid #838383;
}

.reservation__item::placeholder {
  color: #838383;
}
